__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.log
*.sqlite3
*.db

.env
.venv/
env/
venv/

.idea/
.vscode/

*.egg-info/
.eggs/

.DS_Store
Thumbs.db

.pytest_cache/

.mypy_cache/
.pyre/
.dmypy.json

dump.rdb

*.pid
*.log
docker-data/
